<div class="widget">
    <h3 class="widget-title"><%= __('widget.board') %></h3>
    <div class="widget-body">
        <div id="board">
            <div class="content">
                <%- theme.site.board %>
            </div>
        </div>
    </div>
</div>

<span class="widget" style="display: block;height: 300px;overflow:hidden">
    <h3 class="widget-title">广告</h3>

	<span style="font-size: 14px;color: #f38907">这是一个正经的广告位↓↓↓</span>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- sidebar -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-2287074960345236"
	     data-ad-slot="5734352220"
	     data-ad-format="auto"
	     data-full-width-responsive="true"></ins>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
	</script>

</span>